BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "vivaz_RS" SITE "48" ;
LOCATE COMP "vivaz_WR" SITE "47" ;
LOCATE COMP "vivaz_RESET" SITE "50" ;
LOCATE COMP "CH4" SITE "105" ;
LOCATE COMP "led30[2]" SITE "99" ;
LOCATE COMP "led30[3]" SITE "100" ;
LOCATE COMP "led67[0]" SITE "106" ;
LOCATE COMP "led67[1]" SITE "107" ;
LOCATE COMP "vivaz_D015[0]" SITE "69" ;
LOCATE COMP "vivaz_D015[1]" SITE "71" ;
LOCATE COMP "vivaz_D015[2]" SITE "68" ;
LOCATE COMP "vivaz_D015[3]" SITE "70" ;
LOCATE COMP "vivaz_D015[4]" SITE "62" ;
LOCATE COMP "vivaz_D015[5]" SITE "67" ;
LOCATE COMP "vivaz_D015[6]" SITE "61" ;
LOCATE COMP "vivaz_D015[7]" SITE "65" ;
LOCATE COMP "vivaz_D015[8]" SITE "58" ;
LOCATE COMP "vivaz_D015[9]" SITE "60" ;
LOCATE COMP "vivaz_D015[10]" SITE "57" ;
LOCATE COMP "vivaz_D015[11]" SITE "59" ;
LOCATE COMP "vivaz_D015[12]" SITE "54" ;
LOCATE COMP "vivaz_D015[13]" SITE "56" ;
LOCATE COMP "vivaz_D015[14]" SITE "52" ;
LOCATE COMP "vivaz_D015[15]" SITE "55" ;
LOCATE COMP "main_reset" SITE "78" ;
LOCATE COMP "pb1" SITE "74" ;
LOCATE COMP "pb2" SITE "76" ;
LOCATE COMP "CH1" SITE "38" ;
LOCATE COMP "CH2" SITE "97" ;
LOCATE COMP "CH3" SITE "98" ;
