BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "lcd_LCDBus[0]" SITE "49" ;
LOCATE COMP "lcd_LCDBus[1]" SITE "47" ;
LOCATE COMP "lcd_LCDBus[2]" SITE "50" ;
LOCATE COMP "lcd_LCDBus[3]" SITE "48" ;
LOCATE COMP "lcd_LCDBus[4]" SITE "55" ;
LOCATE COMP "lcd_LCDBus[5]" SITE "52" ;
LOCATE COMP "lcd_LCDBus[6]" SITE "56" ;
LOCATE COMP "lcd_LCDBus[7]" SITE "54" ;
LOCATE COMP "lcd_LCDBus[8]" SITE "59" ;
LOCATE COMP "lcd_LCDBus[9]" SITE "57" ;
LOCATE COMP "lcd_LCDBus[10]" SITE "60" ;
LOCATE COMP "lcd_LCDBus[11]" SITE "58" ;
LOCATE COMP "lcd_LCDBus[12]" SITE "65" ;
LOCATE COMP "lcd_LCDBus[13]" SITE "61" ;
LOCATE COMP "lcd_LCDBus[14]" SITE "67" ;
LOCATE COMP "lcd_LCDBus[15]" SITE "62" ;
LOCATE COMP "lcd_reset" SITE "68" ;
LOCATE COMP "lcd_rs" SITE "70" ;
LOCATE COMP "lcd_wr" SITE "71" ;
LOCATE COMP "leds[0]" SITE "97" ;
LOCATE COMP "leds[1]" SITE "98" ;
LOCATE COMP "leds[2]" SITE "99" ;
LOCATE COMP "leds[3]" SITE "100" ;
LOCATE COMP "leds[4]" SITE "104" ;
LOCATE COMP "leds[5]" SITE "105" ;
LOCATE COMP "leds[6]" SITE "106" ;
LOCATE COMP "leds[7]" SITE "107" ;
LOCATE COMP "synch_rst" SITE "69" ;
